<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Kurukshetra</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/jquery-mobile.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
   
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="jquery.js"></script>
    <script src="jquery-1.7.1.min.js"></script>


    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/router.js"></script>
    <script src="js/service.js"></script>
    <script src="js/myjs.js"></script>
    
    
  </head>
  <body ng-app="kurukshetra" >
    <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view animation="slide-left-right"></ion-nav-view>

    <script type="text/ng-template" id="/home.html" >
    <ion-view title="Home">
    <ion-content class="padding">
    <div class="list row responsive-sm ">
                    <div class="item item-input item-select ">
                      <div class="input-label">
                        Event Category
                      </div>
                      <select ng-model="user.event_type" ng-selected = "Online" name="event_type" id="event_type">
                        <option>Online</option>
                        <option>Engineering</option>
                        <option>Coding</option>
                        <option>General</option>
                        <option>Management</option>
                        <option>Robotics</option>
                        <option>Quizzes</option>
                      </select>
                    </div>
                </div>
                
                <div class="list row responsive-sm ">
                    <div class="item item-input item-select ">
                      <div class="input-label">
                        Event Name
                      </div>
                      <select ng-model="user.event_name" name="event_name" id="event_name">
                        <option>Aero modelling</option>
                        <option selected>Contraptions</option>
                        <option>God Speed</option>
                        <option>Mega Structures</option>
                        <option>Electro Warriors</option>
                        <option>Paper Presentation</option>
                        <option>Leyland Innovate</option>
                      </select>
                    </div> 
                </div>
                
                <div class="list row responsive-sm ">
                  <label class="item item-input item-select">
                      <div class="input-label">
                        Round
                      </div>
                      <select ng-model="user.round" name="round" id="round">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option selected>Winner</option>
                        
                      </select>
                    </label>
                </div>
                <div class="list row responsive-sm ">
                  <label class="item item-input item-select">
                      <div class="input-label">
                        Place
                      </div>
                      <select ng-model="user.place" id="place">
                        <option selected>Next Round</option>
                        <option>First</option>
                        <option>Second</option>
                        <option>Third</option>
                      </select>
                    </label>
                </div>
             
                <div class="list row responsive-sm ">
                  <div class="item item-input item-select">
                      <div class="input-label">
                        Participant Type
                      </div>
                      <select ng-model="user.participant_type" id="participant_type">
                        <option selected>Individual</option>
                        <option>Team</option>
                      </select>
                    </div>
                </div>              
                <div class="list row responsive-sm ">
                  <a ng-click="nextpage()" class=" button icon-right ion-chevron-right button-calm">Next</a>
                </div>
                </ion-view>
                </ion-content>
    </script>


        <script type="text/ng-template" id="/users.html" >
        <ion-view title="Participants of Team">
        <ion-content class="padding">
        <div class="row">
          <div class="item item-input">
            <div class="input-label">
              Team Name
            </div>
            <input type="text" ng-model="user.teamname">
          </div>
        </div>
        <div class="list list-inset">
            <div class="item item-input-inset item-input-inset">
                <div class="col">User 1</div>
                <div class="col"><input type="text" ng-model="user.qr1"></div>
                <div class="col"><button class="button icon ion-gear-a" ng-click="startscan1()">
                </button></div>
            </div>
            <div class="item item-input-inset item-input-inset">
                <div class="col">User 2</div>
                <div class="col"><input type="text" ng-model="user.qr2"></div>
                <div class="col"><button class="button icon ion-gear-a" ng-click="startscan2()">
                </button></div>
            </div>
            <div class="item item-input-inset item-input-inset">
                <div class="col">User 3</div>
                <div class="col"><input type="text" ng-model="user.qr3"></div>
                <div class="col"><button class="button icon ion-gear-a" ng-click="startscan3()">
                </button></div>
            </div>
            <div class="item item-input-inset item-input-inset">
                <div class="col">User 4</div>
                <div class="col"><input type="text" ng-model="user.qr4"></div>
                <div class="col"><button class="button icon ion-gear-a" ng-click="startscan4()">
                </button></div>
            </div>
            <div class="item item-input-inset item-input-inset">
                <div class="col">User 5</div>
                <div class="col"><input type="text" ng-model="user.qr5"></div>
                <div class="col"><button class="button icon ion-gear-a" ng-click="startscan5()">
                </button></div>
            </div>
        </div>
        <div class="list row responsive-sm ">
                  <a href="#/confirm" class=" button icon-right ion-chevron-right button-calm">Next</a>
                </div>
        </ion-view>
        </ion-content>
        </script>


     <script type="text/ng-template" id="/user.html" >
        <ion-view title="Participant/Winner">
        <ion-content class="padding">
        <div class="list list-inset">
            <div class="item item-input-inset item-input-inset">
                <div class="col">Participant</div>
                <div class="col"><input type="text" ng-model="user.qr1"></div>
                <div class="col"><button class="button icon ion-gear-a" ng-click="startscan1()">
                </button></div>
            </div>
        </div>
        <div class="list row responsive-sm ">
                  <a href="#/confirm" class=" button icon-right ion-chevron-right button-calm">Next</a>
                </div>
        </ion-view>
        </ion-content>
        </script>




        <script type="text/ng-template" id="/confirm.html" >
        <ion-view title="Participants of Team">
        <ion-content class="padding">
        <div class="row">
          <div class="item item-input">
            <div class="input-label">
              password
            </div>
            <input type="password" id="password" ng-model="password">
          </div>
        </div>
        <div class="list row responsive-sm ">
        
        <input type="hidden" ng-model="user.event_type" name="event_type" id="test_event_type">
        <input type="hidden" ng-model="user.event_name" name="event_name" id="test_event_name">
        <input type="hidden" ng-model="user.round" name="round" id="test_round">
        <input type="hidden" ng-model="user.place" id="test_place">
        <input type="hidden" ng-model="user.participant_type" id="test_participant_type">
        <input type="hidden" ng-model="user.teamname" id="test_teamname">
        <input type="hidden" ng-model="user.qr1" id="test_qr1">
        <input type="hidden" ng-model="user.qr2" id="test_qr2">
        <input type="hidden" ng-model="user.qr3" id="test_qr3">
        <input type="hidden" ng-model="user.qr4" id="test_qr4">
        <input type="hidden" ng-model="user.qr5" id="test_qr5">
        <br>
        <br>
        <input type="submit" ng-click="insert()" value="submit" class=" button icon-right ion-chevron-right button-calm" data-inline="true"/>
        
          
        </div>
        </ion-view>
        </ion-content>
        </script> 






  </body>
</html>